@import url("./clash-grotesk.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'ClashGrotesk-Regular';
}

@layer components {
    ::-webkit-scrollbar {
        width: 10px;
    }

    ::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    ::-webkit-scrollbar-thumb {
        background: #888;
    }

    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }

    .underline-animation {
        position: relative;
        display: inline-block;
    }

    .underline-animation::after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: currentColor;
        transform-origin: bottom right;
        transition: transform 0.3s ease-out;
    }

    .underline-animation:hover::after {
        transform: scaleX(1);
        transform-origin: bottom left;
    }

    .screen-no-nav {
        min-height: calc(100vh - 90px);
    }
}